body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(231, 182, 46), yellow);
}

.reset {
  padding: 10px;
  margin-bottom: 10px;
}

.container {
  display: grid;
  width: 960px;
  height: 960px;
  border: 1px solid black;
}
.square {
  background-color: white;
}
